node_modules
vendor
.env
.git
.gitignore
.gitattributes
*.md
docker-compose.yml
.editorconfig
.phpunit.result.cache
.DS_Store
Thumbs.db
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
database/*.sqlite
database/*.sqlite-journal
.vscode
.idea
*.log
